APP_NAME=executor
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/executor
EXECUTION_MAX_RETRY=5
ORDER_SERVICE_URL=http://localhost:8000
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_ORDERS_TOPIC=onramp.public.orders
KAFKA_CONSUMER_GROUP=executor-orders-consumer
