APP_NAME=executor
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/executor
EXECUTION_MAX_RETRY=5
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_ORDERS_TOPIC=dbserver1.public.orders
KAFKA_CONSUMER_GROUP=executor-orders-consumer
